{% extends 'index.html' %}

{% block right %}
{% endblock %}

{% block center %}
    <div class="col-sm-9">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="row center-block" style="background-color: rgba(33,42,162,0.74);border: 1px solid gainsboro;border-radius: 5px;">
                  <h2 class="h4 text-center">用户信息表</h2>
            </div>

            <form class="form center-block" action="" method="post" enctype="multipart/form-data">

                <img src="{{ user.avatar.url }}" style="width: 200px; height: 200px" class="img-circle img-responsive center-block">
                <label class="text-center">用户头像</label>
                <input type="file" name="avatar" class="form-control" value="{{ user.avatar }}" placeholder="请选择头像">

                <label class="text-center">用户名</label>
                <input type="text" class="form-control" name="username" value="{{ user.username }}" >

                <label class="text-center">简介</label>
                <input type="text" name="profile" height="50px" class="form-control" value="{{ user.profile }}">

                <label class="text-center">邮箱</label>
                <input type="email" name="email" value="{{ user.email }}" class="form-control">
                {% csrf_token %}
                <label> </label>
                <button type="submit" class="btn btn-danger form-control">修改</button>
            </form>

        </div>

    </div>
{% endblock %}