<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
{% load staticfiles %}
<script src="{% static "js/jquery-3.2.1.min.js" %}">
</script>
{#<script src="{% static "csrf.js" %}">#}
{#</script>#}


</head>
<body>
<h2>register page</h2>
<p>{{ msg }}</p>
<form  method="post" >
	{{ form.non_field_errors }}
	<div class="username">
	{{ form.username.errors }}
	<p> username: {{ form.username }}</p>
	</div>
	{% csrf_token %}
	<div class="email">
	{{ form.email.errors }}
	<p> email: {{ form.email }}</p>
	</div>

	<div class="password1">
	{{ form.password1.errors }}
	<p> password:</p>
	{{ form.password1 }}
	</div>

	<div class="password2">
	{{ form.password2.errors }}
	<p> repassword:</p>
	{{ form.password2 }}
	</div>
	<input id="sub" type="submit" value="Submit" >
</form>

<script>
function authentication(){
    var raw_username = document.getElementById("username").value;
{#    var csrfmiddlewaretoken = document.getElementById()#}
{#    异步处理数据#}
{#    alert($(this).val());#}
	$.ajax({type:'POST', data: {'raw_username': raw_username}
	});
};
</script>
</body>