{% extends 'index.html' %}

{% block right %}
{% endblock %}

{% block center %}
    <div class="col-sm-7 col-sm-offset-1 ">
        <div class="">
            <div class="row" style="background-color: rgba(33,42,162,0.74);border: 1px solid gainsboro;border-radius: 5px;">
                  <h2 class="h4 text-center">用户信息表</h2>
            </div>

            <img src="{{ user.avatar.url }}" style="width: 200px; height: 200px" class="img-circle img-responsive center-block">
            <ul class="list-group">
                <li class="list-group-item">
                    <span class="badge">用户名</span>
                    {{ user.username }}
                </li>
                <li class="list-group-item">
                    <span class="badge">个人简介</span>
                    {{ user.profile }}
                </li>
                <li class="list-group-item">
                    <span class="badge">上次登录时间</span>
                    {{ user.last_login }}
                </li>
                <li class="list-group-item">
                    <span class="badge">邮箱</span>
                    {{ user.email }}
                </li>
                <li class="list-group-item">
                    <span class="badge">加入时间</span>
                    {{ user.date_joined }}
                </li>
            </ul>

            <a href="{% url 'fire:modify_user' %}"><button class="btn-danger form-control">修改个人信息</button></a>

        </div>

    </div>
{% endblock %}