<nav aria-label="Page navigation" class="col-xs-offset-3 col-xs-6">
	<ul class="pagination " aria-label="Page navigation">
		{% if temp_list.has_previous %}
		<li>
			<a href="?pn={{ temp_list.previous_page_number }}" aria-label=" Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}
      {% for num in numbers %}
        {% if num == pn %}
            <li class="active "><a href="?pn={{ num }} ">{{ num }}</a></li>
         {% else %}
            <li><a href="?pn={{ num }} ">{{ num }}</a></li>
          {% endif %}
      {% endfor %}

      {% if temp_list.has_next %}
        <li>
          <a href="?pn={{ temp_list.next_page_number }}" aria-label="Next ">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      {% endif %}
      </ul>
       <ul class="form-control" style="text-align: center">
           <li style="list-style-type: none ">当前第{% if request.GET.pn %}{{ request.GET.pn }}{% else %}{{ 1 }}{% endif %}页  总页数：{{ num_pages }}页</li>
       </ul>
        <form action=" " method="get" >
{#            <input type="hidden" value="{{ request.GET.keyword }} " name="keyword ">#}
            <input type="text" class="form-control" name="pn" placeholder="请输入跳转页数">
            <input type="submit" value="跳转" class="btn-primary form-control" >
        </form>
 </nav>