<!-- Left Column -->
<div class="col-sm-3">

<!-- List-Group Panel -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h1 class="panel-title"><span class=""></span>文章分类</h1>
    </div>
    <div class="list-group">
        {% for col in column_list %}
        <a href="{% url 'fire:column' column_id=col.id %}" class="list-group-item">{{ col.name }}</a>
        {% endfor %}
    </div>
</div>

<!-- Text Panel -->
{#<div class="panel panel-default">#}
{#    <div class="panel-heading">#}
{#        <h1 class="panel-title"><span class="glyphicon glyphicon-cog"></span>页面设置</h1>#}
{#    </div>#}
{##}
{#    <div class="panel-body">#}
{#        <p>《秋风辞》#}
{#            年代: 汉 作者: 刘彻#}
{#            秋风起兮白云飞，#}
{#            草木黄落兮雁南归。#}
{#            兰有秀兮菊有芳，#}
{#            怀佳人兮不能忘。#}
{#            泛楼船兮济汾河，#}
{#            横中流兮扬素波。#}
{#            箫鼓鸣兮发棹歌，#}
{#            欢乐极兮哀情多。#}
{#            少壮几时兮奈老何！</p>#}
{#        <p><button class="btn btn-default">设置</button></p>#}
{#    </div>#}
{#</div>#}

<!-- Text Panel -->
{#<div class="panel panel-default">#}
{#    <div class="panel-heading">#}
{#        <h3 class="panel-title">#}
{#            <span class="glyphicon glyphicon-bullhorn"></span>#}
{#            每日一句#}
{#        </h3>#}
{#    </div>#}
{#    <div class="panel-body">#}
{#        <p>有志者事竟成，破釜沉舟，百二秦关终属楚；#}
{#            苦心人天不负，卧薪尝胆，三千越甲可吞吴。</p>#}
{#        <div class="btn-group" role="group">#}
{##}
{#            <button type="button" class="btn btn-default"><a href="">查看更多</a></button>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}

</div><!--/Left Column-->